<style>

        *{
            margin: 0;
            padding:0;
        }
.box{
    border: 2px solid black;
    border-radius: 7px;
    background-color: antiquewhite;
    height: 30vw;
    width: 20vw;
    padding: 30px;
    margin: 30px;
    position: relative;
    left:500px;
    top: 50px;
}

.image{
    height: 20vw;
   width: 20vw;
   padding: 5px;
}

.first{
    border: 1px solid black;
    border-radius: 15px;
    color: brown;
    margin: 10px;
    padding: 5px;
    
}

.second{
    border: 1px solid black;
    border-radius: 15px;
    color: brown;
    margin: 10px;
    padding: 5px;
}
div h1{
   font-family: Oswald;
   font-weight: 10;
   
}


    </style>
